 <template>
  <div class="p-grid p-fluid dashboard">
    <DataTable
      ref="dt"
      :value="empleados"
      class="p-datatable-responsive-demo"
      v-model:selection="selectedProducts"
      dataKey="id"
      :paginator="true"
      :rows="10"
      :filters="filters"
      paginatorTemplate="CurrentPageReport FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink RowsPerPageDropdown"
      :rowsPerPageOptions="[5, 10, 25]"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} products"
    >
      <template #header>
        <div class="table-header">
          <h5 class="p-m-0">Empleados</h5>
          <span class="p-input-icon-left">
            <i class="pi pi-search" />
            <InputText v-model="filters['global']" placeholder="Search..." />
          </span>
        </div>
      </template>
      <Column field="Id" header="Id" :sortable="true">
        <template #body="slotProps">
          {{ slotProps.data.Id }}
        </template>
      </Column>
      <Column field="nombre" header="Nombre" :sortable="true">
        <template #body="slotProps">
          {{ slotProps.data.nombre }}
        </template>
      </Column>
      <Column field="apellido" header="Apellido" :sortable="true">
        <template #body="slotProps">
          {{ slotProps.data.apellido }}
        </template>
      </Column>
      <Column
        field="correo"
        style="widht: 200px"
        header="Correo"
        :sortable="true"
      >
        <template #body="slotProps">
          {{ slotProps.data.correo }}
        </template>
      </Column>
      <Column field="telefono" header="Telefono" :sortable="true">
        <template #body="slotProps">
          {{ slotProps.data.telefono }}
        </template>
      </Column>
      <Column>
        <template #body="slotProps">
          <Button
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success p-mr-2"
            @click="editProduct(slotProps.data.Id)"
          />
          <Button
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning"
            @click="confirmDeleteProduct(slotProps.data.Id)"
          />
        </template>
      </Column>
    </DataTable>

    <Toolbar class="p-mb-4">
      <template v-slot:right>
        <Button
          label="New"
          icon="pi pi-plus"
          class="p-button-success p-mr-2 p-mb*2"
          @click="productDialog2 = true"
        />
      </template>
    </Toolbar>

    <Dialog
      v-model:visible="productDialog"
      :style="{ width: '450px' }"
      header="Editar Empleado"
      :modal="true"
      class="p-fluid"
    >
      <div class="p-field">
        <label for="nombre">Nombre</label>
        <InputText
          id="nombre"
          v-model.trim="empleadoEdit.nombre"
          required="true"
          autofocus
          :class="{ 'p-invalid': submitted && !empleadoEdit.nombre }"
        />
        <small class="p-invalid" v-if="submitted && !empleadoEdit.nombre"
          >El nombre es requerido.</small
        >
      </div>
      <div class="p-field">
        <label for="apellido">Apellido</label>
        <InputText
          id="apellido"
          v-model.trim="empleadoEdit.apellido"
          required="true"
          autofocus
          :class="{ 'p-invalid': submitted && !empleadoEdit.apellido }"
        />
        <small class="p-invalid" v-if="submitted && !empleadoEdit.apellido"
          >El apeliido es requerido.</small
        >
      </div>
      <div class="p-formgrid p-grid">
        <div class="p-field p-col">
          <label for="price">Correo</label>
          <span class="p-input-icon-left">
            <i class="pi pi-envelope" />
            <InputText id="correo" v-model="empleadoEdit.correo" />
          </span>
        </div>
        <div class="p-field p-col">
          <label for="quantity">Teléfono</label>
          <span class="p-input-icon-left">
            <i class="pi pi-phone" />
            <InputText id="telefono" v-model="empleadoEdit.telefono" />
          </span>
        </div>
      </div>
      <template #footer>
        <Button
          label="Cancel"
          icon="pi pi-times"
          class="p-button-text"
          @click="hideDialog"
        />
        <Button
          label="Save"
          icon="pi pi-check"
          class="p-button-text"
          @click="saveProduct"
        />
      </template>
    </Dialog>

    <Dialog
      v-model:visible="productDialog2"
      :style="{ width: '450px' }"
      header="Crear Empleado"
      :modal="true"
      class="p-fluid"
    >
      <div class="p-field">
        <label for="nombre">Nombre</label>
        <InputText
          id="nombre"
          v-model.trim="empleado.nombre"
          required="true"
          autofocus
          :class="{ 'p-invalid': submitted && !empleado.nombre }"
        />
        <small class="p-invalid" v-if="submitted && !empleado.nombre"
          >El nombre es requerido.</small
        >
      </div>
      <div class="p-field">
        <label for="apellido">Apellido</label>
        <InputText
          id="apellido"
          v-model.trim="empleado.apellido"
          required="true"
          autofocus
          :class="{ 'p-invalid': submitted && !empleado.apellido }"
        />
        <small class="p-invalid" v-if="submitted && !empleado.apellido"
          >El apeliido es requerido.</small
        >
      </div>
      <div class="p-formgrid p-grid">
        <div class="p-field p-col">
          <label for="price">Correo</label>
          <span class="p-input-icon-left">
            <i class="pi pi-envelope" />
            <InputText id="correo" v-model="empleado.correo" />
          </span>
        </div>
        <div class="p-field p-col">
          <label for="quantity">Teléfono</label>
          <span class="p-input-icon-left">
            <i class="pi pi-phone" />
            <InputText id="telefono" v-model="empleado.telefono" />
          </span>
        </div>
      </div>
      <template #footer>
        <Button
          label="Cancel"
          icon="pi pi-times"
          class="p-button-text"
          @click="hideDialog"
        />
        <Button
          label="Save"
          icon="pi pi-check"
          class="p-button-text"
          @click="createProduct()"
        />
      </template>
    </Dialog>
    <Dialog
      v-model:visible="deleteProductDialog"
      :style="{ width: '450px' }"
      header="Confirm"
      :modal="true"
    >
      <div class="confirmation-content">
        <i class="pi pi-exclamation-triangle p-mr-3" style="font-size: 2rem" />
        <span>¿Estas seguro de eliminar a este empleado?</span>
      </div>
      <template #footer>
        <Button
          label="No"
          icon="pi pi-times"
          class="p-button-text"
          @click="deleteProductsDialog = false"
        />
        <Button
          label="Yes"
          icon="pi pi-check"
          class="p-button-text"
          @click="deleteProduct"
        />
      </template>
    </Dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      products: [{ id: "1", nombre: "Mafer" }],
      productDialog: false,
      productDialog2: false,
      deleteProductDialog: false,
      deleteProductsDialog: false,
      empleados: [],
      selectedProducts: null,
      filters: {},
      submitted: false,
      empleado: {
        nombre: "",
        apellido: "",
        correo: "",
        telefono: "",
      },
      empleadoEdit: {
        Id: "",
        nombre: "",
        apellido: "",
        correo: "",
        telefono: "",
      },
      IdDelete: "",
    };
  },
  created() {},
  mounted() {
    fetch("http://localhost:3000/empleados", {
      method: "GET",
      headers: {
        "Content-Type": "application/json",
      },
    })
      .then((response) => response.json())
      .then((data) => {
        this.empleados = data;
      });
  },
  methods: {
    editProduct(Id) {
      this.productDialog = true;
      fetch("http://localhost:3000/empleados/" + Id, {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
        },
      })
        .then((response) => response.json())
        .catch((error) => console.error("Error:", error))
        .then((response) => {
          console.log(response);
          this.empleadoEdit.Id = response.Id;
          this.empleadoEdit.nombre = response.nombre;
          this.empleadoEdit.apellido = response.apellido;
          this.empleadoEdit.correo = response.correo;
          this.empleadoEdit.telefono = response.telefono;
        });
    },
    createProduct() {
      console.log(this.empleado)
      fetch("http://localhost:3000/empleados", {
        method: "POST",
        body: JSON.stringify(this.empleado),
        headers: {
          "Content-Type": "application/json",
        },
      })
        .then((response) => response.json())
        .catch((error) => console.error("Error:", error))
        .then((response) => {
          console.log(response);
          this.reset();
          this.productDialog2 = false;
          this.getEmpleados();
        });
    },
    saveProduct() {
      console.log(this.empleadoEdit);
      fetch("http://localhost:3000/empleados/" + this.empleadoEdit.Id, {
        method: "PUT",
        body: JSON.stringify(this.empleadoEdit),
        headers: {
          "Content-Type": "application/json",
        },
      })
        .then((response) => response.json())
        .catch((error) => console.error("Error:", error))
        .then((response) => {
          console.log(response);
          this.reset();
          this.productDialog = false;
          this.getEmpleados();
        });
    },
    confirmDeleteProduct(Id) {
      this.deleteProductDialog = true;
      this.IdDelete = Id;
    },
    deleteProduct() {
      fetch("http://localhost:3000/empleados/" + this.IdDelete, {
        method: "DELETE",
        headers: {
          "Content-Type": "application/json",
        },
      })
        .then((response) => response.json())
        .catch((error) => console.error("Error:", error))
        .then((response) => {
          console.log(response);
          this.IdDelete = "";
          this.deleteProductDialog = false;
          this.getEmpleados();
        });
    },
    getEmpleados() {
      fetch("http://localhost:3000/empleados", {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
        },
      })
        .then((response) => response.json())
        .then((data) => {
          this.empleados = data;
        });
    },
    reset() {
      this.empleado.nombre = "";
      this.empleado.apellido = "";
      this.empleado.correo = "";
      this.empleado.telefono = "";
    },
  },
};
</script>

<style lang="scss" scoped>
@media screen and (max-width: 960px) {
  ::v-deep(.p-datatable) {
    &.p-datatable-customers {
      .p-datatable-thead > tr > th,
      .p-datatable-tfoot > tr > td {
        display: none !important;
      }

      .p-datatable-tbody > tr {
        border-bottom: 1px solid #dee2e6;
        > td {
          text-align: left;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 0 none !important;
          width: 100% !important;
          float: left;
          clear: left;
          border: 0 none;

          .p-column-title {
            padding: 0.4rem;
            min-width: 30%;
            display: inline-block;
            margin: -0.4rem 1rem -0.4rem -0.4rem;
            font-weight: bold;
          }

          .p-progressbar {
            margin-top: 0.5rem;
          }
        }
      }
    }
  }
}
</style>
